main{
        margin: 80px;}
header{
        display: flex;}
header h3{
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        color: #383a3b;
        margin-right: auto;}
nav li{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 600;
        display: inline-block;
        padding: 35px 10px;}
nav a{
        text-decoration: none;
        color: black;
        transition: all 0.3s ease 0s;
        cursor: pointer;}
nav a:hover{
        color: #0088a9;}
header i{
        padding: 33px 15px;
        transition: all 0.3s ease 0s;
        cursor: pointer;}
header i:hover{
        color: #0088a9;}
header .fas {
        font-size: 25px;}
.First-Section {display: flex;
        margin-top:100px;}
.half-width1{
        width: 50%;}
.First-Section h1{
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        color: #383a3b;
        width:100%;
        margin-bottom: 0px;
        margin-top: 130px;}
.First-Section img {
        width:60%;
        border: 10px solid #f8f2ff;
        border-radius: 50%;
        margin-left: 150px;}
.First-Section p {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 50px;}
.First-Section a {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 400px;
        text-decoration: none;
        color: white;
        background-color:#e22e6d;
        border-radius: 15px;
        padding: 15px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
    }
.First-Section a:hover{
        color:white;
        background-color:black ;}
.second-section{
        margin-top: 70px;
        text-align: center;
        border-style: solid;
        border-top-color: #dbdfe3 ;
        border-bottom-color:#dbdfe3;
        border-left-style: hidden;
        border-right-style: hidden;
    }
.second-section img {
        padding: 40px;
        }
        
        
        /* --------------------
        2nd part
        -------------------- */

.section-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #383a3b;
    padding-top: 150px;
}
.product-title{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.product-price{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
}
.checked{
    color: orange;
}
.product-rating{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #5E6366;
}
.product-detail{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #5E6366;
}
.products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
        
}
.product{
        border: 20px solid rgb(248, 247, 247);
        margin: 10px;
        padding: 30px;
        border-radius: 10px ;
}
.pimage img {
        width:100% ;
        
}